
{% extends "base.html" %}
{% block content %}

<div class="jumbotron" >
<h1>welcome to the convertor</h1>
  <h1>Please follow the rules for writing the pseudo. Please Be careful with the syntax</h1>
<img src="../static/rules.JPG" alt="">
  </div>
  <div class="textbox">
<form action="{{url_for('result')}}">
<label for="input">Code</label>
<p></p>
<textarea name="input" rows="8" cols="80"></textarea>
<p></p>
<input type="submit" value="convert now">
</form>
</div>
{% endblock  %}
